weather-email-workflow.json
{
  "name": "Daily Weather Email Report (PirateWeather)",
  "nodes": [
    {
      "parameters": {
        "content": "🚀 SETUP & CONFIGURATION\n\nThis section initiates and configures the workflow:\n• Manual Trigger: Run workflow on demand for testing\n• Schedule Trigger: Automated daily at 7:00 AM\n  (activate this trigger for automatic daily emails)\n• Set Configuration: Define API key, coordinates,\n  location name, and units system (us/si/ca/uk)",
        "height": 240,
        "width": 380,
        "color": 2
      },
      "id": "sticky-setup",
      "name": "Setup & Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [230, 100]
    },
    {
      "parameters": {
        "content": "🌐 DATA FETCH & PROCESSING\n\nRetrieves and formats weather information:\n• Get Weather from PirateWeather: API call returns\n  current conditions, 48hr hourly, and 7-day forecasts\n• Format Weather Data: JavaScript extracts and formats:\n  - Current temp, feels-like, conditions\n  - 6-hour forecast with weather icons\n  - Daily high/low temperatures\n  - Humidity, wind, precipitation, UV index\n  Generates beautiful HTML email template",
        "height": 280,
        "width": 420,
        "color": 4
      },
      "id": "sticky-process",
      "name": "Data Fetch & Processing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [630, 80]
    },
    {
      "parameters": {
        "content": "📧 EMAIL DELIVERY\n\nSends formatted weather report:\n• HTML email via SMTP\n• Subject includes location & temperature\n• Requires SMTP credentials configuration\n• Compatible with Gmail, Outlook, custom servers",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-delivery",
      "name": "Email Delivery",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "content": "📊 WORKFLOW OVERVIEW: Daily Weather Email Report\n\nPirateWeather API (free tier: 20,000 calls/month) provides accurate\nweather data. This workflow fetches current conditions and forecasts,\nthen delivers a professional HTML email report.\n\n💡 Quick Tips:\n• Find coordinates: latlong.net or Google \"[city] coordinates\"\n• SMTP setup: Gmail users need App Password (not regular password)\n• Test before scheduling: Run manually first to verify configuration\n• Customize: Edit HTML in Format Weather Data node for custom styling",
        "height": 260,
        "width": 680,
        "color": 3
      },
      "id": "sticky-overview",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 460]
    },
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Schedule Trigger (Daily 7AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "api_key",
              "name": "apiKey",
              "value": "YOUR_PIRATEWEATHER_API_KEY",
              "type": "string"
            },
            {
              "id": "latitude",
              "name": "latitude",
              "value": "40.7128",
              "type": "string"
            },
            {
              "id": "longitude",
              "name": "longitude",
              "value": "-74.0060",
              "type": "string"
            },
            {
              "id": "location_name",
              "name": "locationName",
              "value": "New York",
              "type": "string"
            },
            {
              "id": "units",
              "name": "units",
              "value": "us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config-1",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://api.pirateweather.net/forecast/{{ $json.apiKey }}/{{ $json.latitude }},{{ $json.longitude }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "units",
              "value": "={{ $json.units }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-1",
      "name": "Get Weather from PirateWeather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get the PirateWeather API response and config\nconst weather = $input.all()[0].json;\nconst config = $('Set Configuration').first().json;\n\n// Extract current weather data\nconst currently = weather.currently || {};\nconst daily = weather.daily?.data?.[0] || {};\nconst hourly = weather.hourly?.data || [];\n\n// Format temperature based on units\nconst getTemp = (temp) => {\n  if (!temp) return 'N/A';\n  const unit = config.units === 'si' || config.units === 'ca' ? '°C' : '°F';\n  return `${Math.round(temp)}${unit}`;\n};\n\n// Format wind speed\nconst getWindSpeed = (speed) => {\n  if (!speed) return 'N/A';\n  const unit = config.units === 'si' ? 'm/s' : (config.units === 'ca' ? 'km/h' : 'mph');\n  return `${Math.round(speed)} ${unit}`;\n};\n\n// Get weather icon description\nconst getIconDescription = (icon) => {\n  const icons = {\n    'clear-day': '☀️ Clear',\n    'clear-night': '🌙 Clear',\n    'rain': '🌧️ Rain',\n    'snow': '❄️ Snow',\n    'sleet': '🌨️ Sleet',\n    'wind': '💨 Windy',\n    'fog': '🌫️ Foggy',\n    'cloudy': '☁️ Cloudy',\n    'partly-cloudy-day': '⛅ Partly Cloudy',\n    'partly-cloudy-night': '☁️ Partly Cloudy'\n  };\n  return icons[icon] || '🌤️ ' + icon;\n};\n\n// Build weather details\nconst weatherDetails = [\n  `Current Conditions: ${getIconDescription(currently.icon)}`,\n  `Temperature: ${getTemp(currently.temperature)}`,\n  `Feels Like: ${getTemp(currently.apparentTemperature)}`,\n  `Humidity: ${Math.round(currently.humidity * 100)}%`,\n  `Wind Speed: ${getWindSpeed(currently.windSpeed)}`,\n  `Wind Gust: ${getWindSpeed(currently.windGust)}`,\n  `Precipitation Probability: ${Math.round((currently.precipProbability || 0) * 100)}%`,\n  `Cloud Cover: ${Math.round((currently.cloudCover || 0) * 100)}%`,\n  `UV Index: ${currently.uvIndex || 'N/A'}`,\n  `Visibility: ${currently.visibility || 'N/A'} miles`,\n  `Pressure: ${currently.pressure ? Math.round(currently.pressure) + ' mb' : 'N/A'}`,\n  ``,\n  `Today's Forecast:`,\n  `High: ${getTemp(daily.temperatureHigh)} at ${new Date(daily.temperatureHighTime * 1000).toLocaleTimeString()}`,\n  `Low: ${getTemp(daily.temperatureLow)} at ${new Date(daily.temperatureLowTime * 1000).toLocaleTimeString()}`,\n  `Summary: ${daily.summary || currently.summary || 'No summary available'}`\n];\n\n// Add next 6 hours forecast\nweatherDetails.push('', '6-Hour Forecast:');\nhourly.slice(0, 6).forEach((hour, i) => {\n  const time = new Date(hour.time * 1000).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});\n  weatherDetails.push(`${time}: ${getTemp(hour.temperature)}, ${getIconDescription(hour.icon)}`);\n});\n\nconst weatherInfo = weatherDetails.join('\\n');\n\n// Create HTML formatted email\nconst htmlBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background: #f5f5f5; margin: 0; padding: 20px; }\n    .weather-report { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow: hidden; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .location { font-size: 18px; opacity: 0.9; margin-top: 5px; }\n    .current-weather { background: #f8f9fa; padding: 25px; text-align: center; border-bottom: 2px solid #e9ecef; }\n    .temperature { font-size: 48px; font-weight: bold; color: #667eea; margin: 10px 0; }\n    .condition { font-size: 24px; color: #666; }\n    .details { padding: 25px; }\n    .detail-row { display: flex; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid #e9ecef; }\n    .detail-label { font-weight: 600; color: #555; }\n    .detail-value { color: #777; }\n    .forecast-section { background: #f8f9fa; padding: 20px 25px; margin: 20px 0; border-radius: 8px; }\n    .forecast-title { font-size: 18px; font-weight: 600; color: #667eea; margin-bottom: 15px; }\n    .hourly-item { padding: 8px 0; border-bottom: 1px solid #dee2e6; }\n    .footer { background: #343a40; color: #adb5bd; padding: 15px; text-align: center; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"weather-report\">\n    <div class=\"header\">\n      <h1>🌤️ Weather Report</h1>\n      <div class=\"location\">${config.locationName}</div>\n      <div class=\"location\" style=\"font-size: 14px; margin-top: 10px;\">${config.latitude}°N, ${Math.abs(config.longitude)}°W</div>\n    </div>\n    \n    <div class=\"current-weather\">\n      <div class=\"condition\">${getIconDescription(currently.icon)}</div>\n      <div class=\"temperature\">${getTemp(currently.temperature)}</div>\n      <div style=\"color: #888; font-size: 16px;\">Feels like ${getTemp(currently.apparentTemperature)}</div>\n    </div>\n    \n    <div class=\"details\">\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">💧 Humidity</span>\n        <span class=\"detail-value\">${Math.round(currently.humidity * 100)}%</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">💨 Wind Speed</span>\n        <span class=\"detail-value\">${getWindSpeed(currently.windSpeed)}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">🌧️ Precipitation</span>\n        <span class=\"detail-value\">${Math.round((currently.precipProbability || 0) * 100)}%</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">☁️ Cloud Cover</span>\n        <span class=\"detail-value\">${Math.round((currently.cloudCover || 0) * 100)}%</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">☀️ UV Index</span>\n        <span class=\"detail-value\">${currently.uvIndex || 'N/A'}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">👁️ Visibility</span>\n        <span class=\"detail-value\">${currently.visibility || 'N/A'} miles</span>\n      </div>\n    </div>\n    \n    <div style=\"padding: 0 25px;\">\n      <div class=\"forecast-section\">\n        <div class=\"forecast-title\">📅 Today's Forecast</div>\n        <div style=\"color: #666;\">\n          <strong>High:</strong> ${getTemp(daily.temperatureHigh)} <br>\n          <strong>Low:</strong> ${getTemp(daily.temperatureLow)} <br>\n          <strong>Summary:</strong> ${daily.summary || currently.summary || 'No summary available'}\n        </div>\n      </div>\n      \n      <div class=\"forecast-section\">\n        <div class=\"forecast-title\">⏰ 6-Hour Forecast</div>\n        ${hourly.slice(0, 6).map(hour => `\n          <div class=\"hourly-item\">\n            ${new Date(hour.time * 1000).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}: \n            <strong>${getTemp(hour.temperature)}</strong> - \n            ${getIconDescription(hour.icon)}\n          </div>\n        `).join('')}\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Powered by PirateWeather API | Generated ${new Date().toLocaleString()}</p>\n      <p style=\"margin-top: 5px; font-size: 11px;\">Data updated: ${new Date(currently.time * 1000).toLocaleString()}</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    location: config.locationName,\n    coordinates: `${config.latitude}, ${config.longitude}`,\n    weatherInfo: weatherInfo,\n    htmlBody: htmlBody,\n    temperature: currently.temperature,\n    conditions: currently.icon,\n    timestamp: new Date().toISOString(),\n    rawData: weather\n  }\n}];"
      },
      "id": "code-1",
      "name": "Format Weather Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "weather@example.com",
        "toEmail": "recipient@example.com",
        "subject": "=Weather Report for {{ $json.location }} - {{ $json.temperature }}°",
        "emailFormat": "html",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "email-send-1",
      "name": "Send Weather Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Daily 7AM)": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Get Weather from PirateWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather from PirateWeather": {
      "main": [
        [
          {
            "node": "Format Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weather Data": {
      "main": [
        [
          {
            "node": "Send Weather Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-05T21:31:52.963Z",
  "versionId": "2.0.0"
}
